:root {
    --gradient-background:rgba(34, 35, 48, 0.93) ;
}
.Steamcard{
    height: 215px;
    width: 600px;
}
.first{
    display: flex;
    flex-direction: row;
    max-height: 500;
    max-width: 900;
    margin: 0 auto;
    background: radial-gradient( farthest-side at bottom right, var(--gradient-right), transparent 500px ), radial-gradient( farthest-corner at bottom left, var(--gradient-left), transparent 600px );
    background-color: var(--gradient-background);
    background-repeat: no-repeat;
    background-position: center;
    color: #969696;
    font-family: "Motiva Sans",Arial,Helvetica,sans-serif;
    gap: 40px;
    border-radius: 20px;
}
.firstleft{
    max-width: 250px;
    padding: 10px;
}
.firstmid{max-width: 300px;}
.GameIconArea{
    height: 64px;
    width: 64px;
    margin-top: 60px;
    margin-left: 60px;
}
.gameimg{
    height: 64px;
    width: 64px;
    border-radius: 10px;
}
.UserNick{
    margin-top: 5px;
    line-height: 40px;
    font-size: 24px;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;
}
.firstright{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.leveltext{
    line-height: 40px;
    font-size: 24px;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;
}
.levelarea{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.circleCSS{
    width: 45px;
    height: 45px;
    border: 0px;
    border-radius: 50%;
    background-color: white;
    margin-top: 5px;
}
.circle{
    margin-top: 5px;
    margin-left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(34, 35, 48, 0.93);
    text-align: center;
}
.circletext{    
    line-height: 35px;
    font-size: 20px;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;
}
.area{
    padding: 5px;
    padding-bottom: 2px;
    padding-right: 7px;
    border-radius: 10px;
}
.avatarCSS{
    border-radius: 10px;
}
.OfflineColor{background-color: gray;}
.lookingToPlayColor{background-color: #84a945;}
.OnlineColor{background-color: rgb(0, 191, 255);}
.BusyColor{background-color: red;}
.AwayColor{background-color: rgba(247,169,48,255);}
.SnoozeColor{background-color: #47369c;}

.game-text-color{color: #84a945;}
.blue-text-color{color: rgb(0, 191, 255);}
.Idle-Text-Color{color: rgba(247,169,48,255);}

.color0{background-color: #9c9d9c;}
.color1{background-color: #a5364b;}
.color2{background-color: #af6a62;}